apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "strfry.name" . }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: strfry
  template:
    metadata:
      labels:
        app: strfry
    spec:
      initContainers:
        - name: npm-install
          image: node:alpine
          command: ["sh", "-c"]
          args:
            - |
              cd /app
              npm install
              echo "Dependencies installed successfully"
          volumeMounts:
            - name: app-deps
              mountPath: /app
            - name: package-json
              mountPath: /app/package.json
              subPath: package.json
          resources:
            limits:
              memory: 128Mi
              cpu: 200m
            requests:
              memory: 64Mi
              cpu: 50m
      containers:
        - name: strfry
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}@sha256:{{ .Values.image.digest }}
          ports:
            - containerPort: 7777
          volumeMounts:
            - name: strfry-db
              mountPath: /app/strfry-db
            - name: strfry-conf
              mountPath: /etc/strfry.conf
              subPath: strfry.conf
            - name: strfry-logs
              mountPath: /app/logs
            - name: strfry-plugin
              mountPath: /app/whitelist.js
              subPath: whitelist.js
            - name: app-deps
              mountPath: /app/node_modules
              subPath: node_modules

        - name: vector
          image: timberio/vector:0.34.X-debian
          env:
            - name: VECTOR_CONFIG
              value: /etc/vector/vector.toml
          resources:
            limits:
              memory: 100Mi
              cpu: 100m
          volumeMounts:
            - name: strfry-logs
              mountPath: /app/logs
            - name: vector-config
              mountPath: /etc/vector
              readOnly: true

      volumes:
        - name: strfry-db
          persistentVolumeClaim:
            claimName: {{ include "strfry.fullname" . }}-db-pvc
        - name: strfry-conf
          configMap:
            name: {{ include "strfry.fullname" . }}-configmap
        - name: strfry-plugin
          configMap:
            name: {{ include "strfry.fullname" . }}-plugin-configmap
            defaultMode: 0755
        - name: package-json
          configMap:
            name: {{ include "strfry.fullname" . }}-package-json-configmap
        - name: app-deps
          emptyDir: {}
        - name: strfry-logs
          emptyDir: {}
        - name: vector-config
          configMap:
            name: vector-config