image:
  repository: lnflash/flash-pay
  digest: "sha256:a910ae53ce13159f0c4f52b7aae35445a50fba94e3b702b279cfa58eb4e41486"
  git_ref: "cf1ff28" # Not used by helm
ingress:
  enabled: false
service:
  port: 80
  type: ClusterIP
graphqlUrl: 
ibexWebhookUrl:
oathkeeper:
  service:
    host: flash-oathkeeper-proxy.flash.svc.cluster.local
    port: 4455
graphqlWebsocketUrl: 
nostrPubkeyHex:
galoy-nostr:
  enabled: true
  fullnameOverride: galoy-nostr
redis:
  redis0Dns: "galoy-redis-node-0.galoy-redis-headless"
  redis1Dns: "galoy-redis-node-1.galoy-redis-headless"
  redis2Dns: "galoy-redis-node-2.galoy-redis-headless"
  auth:
    existingSecret: galoy-redis-pw
    existingSecretPasswordKey: redis-password
resources: {}
