environment: test # [test, production]
graphqlUrl: flash-oathkeeper-proxy.flash.svc.cluster.local:4455

image:
  repository: lnflash/nostr-multiplexer
  tag: latest
  digest: 1b7baadaef4b78fc0d2d79b297f6f725fe47130fad590222a1c19b7be96a5c8b
  pullPolicy: Always

deploy:
  replicaCount: 1

service:
  name: nostr-multiplexer-release
  type: ClusterIP
  port: 4000
  targetPort: 4000

ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/use-regex: "true"
    cert-manager.io/cluster-issuer: "letsencrypt-issuer"
  hosts: []

resources: {}
livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
