apiVersion: v2 # https://helm.sh/docs/topics/charts/#the-apiversion-field
name: flash
description: A Helm chart for the Flash application backend
type: application
version: 0.1.0
appVersion: 0.7.27
dependencies:
  - name: redis
    repository: https://charts.bitnami.com/bitnami
    version: 18.0.4
  - name: mongodb
    repository: https://charts.bitnami.com/bitnami
    version: 15.6.0
  - name: oathkeeper
    repository: https://k8s.ory.sh/helm/charts
    version: 0.36.0
  - name: kratos
    repository: https://k8s.ory.sh/helm/charts
    version: 0.36.0
  - name: router
    repository: oci://ghcr.io/apollographql/helm-charts
    version: 1.25.0
  - name: price
    version: 0.5.10
    repository: "file://../price"
