apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "strfry.name" . }}
spec:
  replicas: 1
  strategy:
    type: Recreate # Deletes existing pods (& their PVCs) before creating new ones
  selector:
    matchLabels:
      app: strfry
  template:
    metadata:
      labels:
        app: strfry
    spec:
      containers:
        - name: strfry
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}@sha256:{{ .Values.image.digest }}
          ports:
            - containerPort: 7777
          volumeMounts:
            - name: strfry-db
              mountPath: /app/strfry-db
            - name: strfry-conf
              mountPath: /etc/strfry.conf
              subPath: strfry.conf
            {{- if .Values.vector.enabled }}
            - name: strfry-logs
              mountPath: /app/logs
            {{- end }}

        {{- if .Values.vector.enabled }}
        - name: vector
          image: timberio/vector:0.34.X-debian
          env:
            - name: VECTOR_CONFIG
              value: /etc/vector/vector.toml
            {{- if .Values.vector.sinks.honeycomb.apiKey }}
            - name: HONEYCOMB_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "strfry.fullname" . }}-honeycomb
                  key: apiKey
            {{- end }}
          resources:
            limits:
              memory: 100Mi
              cpu: 100m
          volumeMounts:
            - name: strfry-logs
              mountPath: /app/logs
            - name: vector-config
              mountPath: /etc/vector
              readOnly: true
        {{- end }}

      volumes:
        - name: strfry-db
          persistentVolumeClaim:
            claimName: {{ include "strfry.fullname" . }}-db-pvc
        - name: strfry-conf
          configMap:
            name: {{ include "strfry.fullname" . }}-configmap
        {{- if .Values.vector.enabled }}
        - name: strfry-logs
          emptyDir: {}
        - name: vector-config
          configMap:
            name: vector-config
        {{- end }}
