apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "nostr-multiplexer.fullname" . }}
  labels:
    {{- include "nostr-multiplexer.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.deploy.replicaCount }}
  selector:
    matchLabels:
      app: nostr-multiplexer
  template:
    metadata:
      labels:
        app: nostr-multiplexer
    spec:
      containers:
        - name: {{ include "nostr-multiplexer.name" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}@sha256:{{ .Values.image.digest }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 4000
              name: http
          envFrom:
            - configMapRef:
                name: nostr-multiplexor
